<!-- ツールバー -->
<mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <!-- メニューの表示内容-->
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openRegisterPieceDialog()">駒の登録</button>
        <button mat-menu-item (click)="openRegisterImageDialog()">画像の登録</button>
        <button mat-menu-item (click)="openSettingAppDialog($event)">設定</button>
    </mat-menu>

    <!-- タイトル表示-->
    <span>AnkenSugoroku</span>
    <span class="example-spacer"></span>
</mat-toolbar>

<div class="contents-container">
	<div cdkDropListGroup class="sugoroku-content">
    	<div *ngFor="let square of squares">
        	<app-project-board-game-square [square]="square"></app-project-board-game-square>
    	</div>
    	<canvas id="canvas1" #canvas1 width="{{canvasWidth}}" height="{{canvasHeight}}"></canvas>
    </div>

    <div class="history-content">
        <app-project-board-game-history></app-project-board-game-history>
    </div>
</div>
