.piece {
  display: flex;
}

.img-container {
  display: flex;
  flex-direction: column-reverse;
  width: 40px;
  height: 40px;
}

img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}

.context-menu {
  background-color:white;
  padding: 5px;
  z-index: 1000;
  border-radius: 4pt;
  animation: fadeIn 0.1s ease-out;
  display:block;
}

.context-menu-item {
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
}

.context-menu-item:hover {
  background-color:whitesmoke;
}
