.root-container {
  /* イラストやみを出してみた */
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 250px;
  overflow: auto;
}

.image-container {
  width: 60px;
  height: 60px;
}

.image-bounds {
  display: flex;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.image-bounds img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.image-container label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  text-align: center;
}
