<div class="root-container">
  <div>案件画像</div>
  <div class="images-container">
    <div class="image-container" *ngFor="let imgPath of projectImagesPath">
      <div class="image-bounds">
        <img [src]="imgPath"/>
      </div>
      <label matTooltip="{{getImageName(imgPath)}}">{{getImageName(imgPath)}}</label>
    </div>
  </div>
  <form>
    <input type="file" #prjInput accept="image/png, image/jpeg" (change)="uploadProjectImage(prjInput.files)"/>
  </form>
</div>
<div class="root-container">
  <div>スキル画像</div>
  <div class="images-container">
    <div class="image-container" *ngFor="let imgPath of skillImagesPath">
      <div class="image-bounds">
        <img [src]="imgPath"/>
      </div>
      <label matTooltip="{{getImageName(imgPath)}}">{{getImageName(imgPath)}}</label>
    </div>
  </div>
  <form>
  <input type="file" #skillInput accept="image/png, image/jpeg" (change)="uploadSkillImage(skillInput.files)"/>
  </form>
</div>
<button mat-stroked-button (click)="close()">とじる</button>
