.root-container {
  /* イラストやみを出してみた */
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
}

.piece-images-container {
  display: flex;
  justify-content: center;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: auto;
  max-height: 250px;
  min-height: 50px;
  overflow: auto;
}

.image-container {
  display: flex;
  align-items: flex-end;
  width: 40px;
  height: 40px;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.img-proj {
  margin-left: auto;
}

.img-skill {
  margin-right: auto;
}
