<div>
  <div style="text-align: center">案件×スキルプレビュー</div>
  <div class="piece-images-container">
    <div class="image-container">
      <img [src]="selectedProjectImgPath"/>
    </div>
    <div class="image-container">
      <img [src]="selectedSkillImgPath"/>
    </div>
  </div>
  <mat-form-field style="display: block; width: 50%; margin-left: auto; margin-right: auto;">
    <mat-label>案件名</mat-label>
    <input matInput #message maxlength="32" [(ngModel)]="pieceName" [value]="pieceName">
  </mat-form-field>
</div>
<div class="root-container">
  <div>案件画像</div>
  <div class="images-container">
    <div class="image-container" *ngFor="let imgPath of projectImagesPath">
      <img [src]="imgPath" (click)="onProjectImgSelected(imgPath)"/>
    </div>
  </div>
</div>
<div class="root-container">
  <div>スキル画像</div>
  <div class="images-container">
    <div class="image-container" *ngFor="let imgPath of skillImagesPath">
      <img [src]="imgPath" (click)="onSkillImgSelected(imgPath)"/>
    </div>
  </div>
</div>
<mat-dialog-actions>
  <button *ngIf="asUpdate" mat-stroked-button (click)="update()">更新</button>
  <button *ngIf="!asUpdate" mat-stroked-button [disabled]="isImagesSelected" (click)="register()">登録</button>
  <button mat-stroked-button (click)="close()">閉じる</button>
</mat-dialog-actions>
