<div class="station-under-level" [matBadge]="id" matBadgePosition="before" [style.left]="x" [style.top]="y" [style.width]="width" [style.height]="height" [style.z-index]="zIndex" [style.color]="color" [style.background-color]="backgroundColor">
    <div class="station-over-level">
        <div class="station-content-region">
            <div class="station-content">
                <div *ngIf="!enableHtml" class="content" [style.font-size]="fontsize">{{content}}</div>
                <div *ngIf="enableHtml"  class="content" [style.font-size]="fontsize" [innerHTML] = "content"></div>
            </div>
        </div>
    </div>
</div>
